[submodule "ppc-cctools"]
	path = ppc-cctools
	url = https://github.com/mpsuzuki/ppc-cctools
[submodule "ppc-libunwind"]
	path = ppc-libunwind
	url = https://github.com/mpsuzuki/ppc-libunwind
[submodule "ppc-ld64"]
	path = ppc-ld64
	url = https://github.com/mpsuzuki/ppc-ld64
[submodule "vers_string"]
	path = vers_string
	url = https://github.com/mpsuzuki/vers_string
[submodule "ppc-apple-gcc"]
	path = ppc-apple-gcc
	url = https://github.com/mpsuzuki/ppc-apple-gcc
	branch = ppc-gcc-5666.3
[submodule "md"]
	path = md
	url = https://github.com/mpsuzuki/osx-legacy-md.git
